body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	margin: 40px 0;
	table-layout: fixed;
}

thead {
	background-color: #fff;
	color: #4272d7;
	position: sticky;
	top: 0;
}

th,
td {
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

@media (max-width: 600px) {
	table {
		display: block;
	}
	thead {
		display: none;
	}
	tr {
		margin-bottom: 10px;
		display: block;
		border: 1px solid #ddd;
	}
	td {
		text-align: center;
	}
}

/* NavBar */

/* Navbar styles */
.navbar {
	background-color: #1976d2;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
}

.navbar-brand {
	font-size: 24px;
	font-weight: bold;
	color: #fcfcfc;
	text-decoration: none;
}

.nav-link {
	font-size: 16px;
	font-weight: 400;
	color: #f5f5f5;
	text-decoration: none;
	padding: 10px;
}

@media (max-width: 576px) {
	.navbar {
		flex-direction: column;
		height: auto;
		padding: 0;
	}

	.navbar-brand {
		margin-bottom: 10px;
	}

	.nav-link {
		padding: 5px;
	}
}

.container {
	max-width: 100%;
}


/*Boton*/

.logout-btn {
    background-color: #1976d2;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .logout-btn i {
    margin-right: 8px;
  }

  .verticalText {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    }


    /*Agregar color a los promedios*/

    .CE0101{
      background-color: #6d9eeb;

    }
    .CE0102{
      background-color: #6d9eeb;

    }
    .CE0103{
      background-color: #6d9eeb;

    }
    .CT01{
      background-color: #1155cc;

    }
    .CE0201{
      background-color: #6d9eeb;

    }
    .CE0202{
      background-color: #6d9eeb;

    }
    .CT02{
      background-color: #1155cc;

    }
    .CE0301{
      background-color: #6d9eeb;

    }
    .CE0302{
      background-color: #6d9eeb;

    }
    .CT03{
      background-color: #1155cc;

    }
    .P_CT1_CT2_CT3{
      background-color: #ffe599;

    }
    .PFDU{
      background-color: #ff9900;

    }

    /*.ECJ{
      background-color: #666666;

    }*/
