<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Inicia Sesion</h3>

              <div class="d-flex justify-content-center mb-5">
                <asl-google-signin-button>Iniciar Con google</asl-google-signin-button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<div class="jumbotron bg-transparent text-center">

    <h6 class="card-header">Social Login Demo</h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>



    <div class="card-block d-flex justify-content-center">

      <asl-google-signin-button class="mx-5">Iniciar Con google</asl-google-signin-button>
    </div>

</div>-->


